.camera-section{
  width: 100%;
  height: 100%;
}
.videoBack {
  object-fit: cover;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  position: fixed;
  z-index: -1;
}
.video {
  width: 100%!important;
  height: auto;
}

@media (min-aspect-ratio: 16/9) {
  .videoBack {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .videoBack {
    width: 100%;
    height: auto;
  }
}